<h1>khkjhlkjhkjh</h1>
<p>khlkjhlkjhljhlkjh</p>


<!-- <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of objects">
            <td>{{x.title}}</td>
            <td>{{x.description}}</td>
            <td><img src="{{x.url}}" alt="" (click)="selectNester(x)"></td>
            <td>
                <button [routerLink]="['/read', x._id]">View</button> |
                <button [routerLink]="['/edit', x._id]">Edit</button> |
                <button (click)="deleteObject(x._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

************************
<ng-container *ngIf="nester">
    <Nester [object]="nester" [parent]="self"></Nester>
</ng-container> -->